$pink: #ff52c1;

$text-primary: black;
$text-secondary: #808e9a;

$bg-body: #ffffff;
$bg-hero: #edfbff;
$bg-footer: #00252e;

// ^^^^^^^^^^^^^^^^^^^ old ^^^^^^^^^^^^^^^^^^^^^^^

$card: #ffffff;
$orange: #f47b56;

$a: #af67e9;
$b: #6565e7;
$grad: linear-gradient(0deg, $b 0%, $a 100%);
